:host {

	input.roas{
		display: block;
		height: 40px;
		width: 100%;
		border: solid 1px #e3e3e3;
		padding: 10px 12px;
		outline: none;
	}

	.item-container{
		margin-bottom: 15px;
		label{
			margin-bottom: 5px;
			display: block;
		}
		&.roas-container{
			display: flex;

			.roas-item {
				width: 50%;
				margin: auto;
			}
		}
	}

	.matured {
		display: flex;

		label {
			width: 50%;
			margin: auto;
		}
		.slide{
			width: 50%;
			background-color: #f2f2f2;
			border-radius: 3px;
			height:40px;
			display: flex;
			border: solid 1px #e3e3e3;
			div{
				flex: 1 1 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				&.selected{
					background-color: #3083ff;
					border-radius: 3px;
					color: white;
				}
			}

		}
	}

	.optimize-item {
		margin: 10px 0;
		padding: 10px 0;
		border: 1px solid #e3e3e3;
		border-left: 0px;
		border-right: 0px;
	}

}

ion-header {
	ion-item {
		color: white;

		div.item-inner {
			border: 0 !important;
		}
	}
	.back{
		img{
			width: 10px;
			height: 16px;
		}
		margin-right: 10px;
	}

}
