<ion-content>
    <div class="login-container">
        <div class="button-container">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </div>
        <div>
            <img src="../../assets/icon/iron-source.svg" />
            <form [formGroup]="form">
                <label>Login As</label>
                <ion-input placeholder="username@usermail.com"
                           formControlName="username"></ion-input>

            </form>
            <ion-button expand="block"
                        (click)="loginAs()">Login</ion-button>
        </div>
    </div>
</ion-content>