<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content>
        <div class="header-container" *ngIf="user">
          <ion-icon name="contact"></ion-icon>
          <div class="header">{{user.username}}</div>
          <div>{{user.user_email}}</div>
        </div>
        <div class="list-container">
          <ion-menu-toggle *ngFor="let p of appPages"
                           auto-hide="false" [ngClass]="{'disable': p.disable}">
            <div class="item"
                 [routerDirection]="'root'"
                 [routerLink]="[p.url]">
              <label>
                {{p.title}}
              </label>
            </div>
          </ion-menu-toggle>
          <div class="item"
               (click)="logout()">
            <label>
              Logout
            </label>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>