ion-content {
	margin: 0 10px;
}
ion-header {
	ion-item {
		color: white;

		div.item-inner {
			border: 0 !important;
		}
	}
	.back{
		img{
			width: 10px;
			height: 16px;
		}
		margin-right: 10px;
	}

}
